@using CatalogR.Models;
@using Syncfusion.Blazor.Navigations
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

<h3>BiggestCollections</h3>
<div class="control-section db-carousel-section">
    <div class="col-lg-12 content-wrapper">
        <div class="carousel-sample">
            <SfCarousel CssClass="db-carousel" ButtonsVisibility="CarouselButtonVisibility.VisibleOnHover" Interval="3000" AnimationEffect="CarouselAnimationEffect.Slide" IndicatorsType="CarouselIndicatorsType.Fraction">
                @foreach (var collection in Collections)
                {
                    <CarouselItem>
                        <div class="card">
                            @if (!string.IsNullOrWhiteSpace(collection.ImageUrl))
                            {
                                <img src=@($"{collection.ImageUrl}") class="card-img-top object-fit-cover" alt=@collection.Name style="height:450px;width:100%;" />
                            }
                            else
                            {
                                <img src="/img/no-image.png" class="card-img-top object-fit-cover" alt=@collection.Name style="height:450px;width:100%;" />
                            }
                            <div class="card-body" style="padding:1rem;">
                                <h5 class="card-title">@collection.Name</h5>
                                <p class="card-text">&nbsp;</p>
                            </div>
                        </div>
                    </CarouselItem>
                }
            </SfCarousel>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<CollectionPreviewModel> Collections { get; set; } = new List<CollectionPreviewModel>();
}
