@using CatalogR.Services;
@using Microsoft.AspNetCore.Components
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor

<SfTab CssClass=@("default-tab")>
    <TabAnimationSettings>
        <TabAnimationPrevious Effect=AnimationEffect.None></TabAnimationPrevious>
        <TabAnimationNext Effect=AnimationEffect.None></TabAnimationNext>
    </TabAnimationSettings>
    <TabItems>
        <TabItem>
            <ChildContent>
                <TabHeader Text="Edit"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <div>
                    <textarea id="Description" name="Description" rows="10" style="width: 100%" @bind="@Text">
                        @Text
                    </textarea>
                </div>
            </ContentTemplate>
        </TabItem>
        <TabItem>
            <ChildContent>
                <TabHeader Text="Preview"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <div class="scrollable-div" style="min-height:185px">
                    @Html
                </div>
            </ContentTemplate>
        </TabItem>
    </TabItems>
</SfTab>

@code {
    public string text = string.Empty;

    [Parameter]
    public string Text { 
        get => text; 
        set {
            text = value;
            OnTextChanged(value);
        }
    }

    protected void OnTextChanged(string value)
    {
        Html = (MarkupString)MarkdownService.Parse(value);
        InvokeAsync(() => StateHasChanged());
    }

    public MarkupString Html { get; set; }
}
