@using Markdig;
@using Microsoft.AspNetCore.Components
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor

<SfTab CssClass=@("default-tab")>
    <TabAnimationSettings>
        <TabAnimationPrevious Effect=AnimationEffect.None></TabAnimationPrevious>
        <TabAnimationNext Effect=AnimationEffect.None></TabAnimationNext>
    </TabAnimationSettings>
    <TabItems>
        <TabItem>
            <ChildContent>
                <TabHeader Text="Edit"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <div>
                    <textarea id="Description" name="Description" rows="10" style="width: 100%" @oninput="OnTextChanged">
                        @Text
                    </textarea>
                </div>
            </ContentTemplate>
        </TabItem>
        <TabItem>
            <ChildContent>
                <TabHeader Text="Preview"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <div class="scrollable-div ">
                    @Html
                </div>
            </ContentTemplate>
        </TabItem>
    </TabItems>
</SfTab>

@code {
    [Parameter]
    public string Text { get; set; } = string.Empty;

    public MarkupString Html { get; set; }

    protected void OnTextChanged(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        Html = (MarkupString)Markdown.ToHtml(args.Value?.ToString() ?? string.Empty);
        InvokeAsync(() => StateHasChanged());
    }

    protected override Task OnInitializedAsync()
    {
        Html = (MarkupString)Markdown.ToHtml(Text);
        return base.OnInitializedAsync();
    }
}
