@model IEnumerable<CatalogR.Models.Collection>
@{
    ViewData["Title"] = "Index";
    ViewData["OwnsCollection"] = false;
}

<div class="d-flex align-items-center gap-2">
    <span class="h4">Collections by</span>
    <h4 class="text-primary">@ViewBag.UserName</h4>
</div>
<partial name="Collections/_ListPartial" model="Model" view-data="ViewData" />