@model IEnumerable<CatalogR.Models.Collection>

@{
    ViewData["Title"] = "Index";
    ViewData["OwnsCollection"] = false;
}

<h1>Index</h1>

<partial name="Collections/_ListPartial" model="Model" view-data="ViewData" />