@model CatalogR.Models.CustomFieldValues<string?>
@if (Model.State)
{
    <div class="col-md">
        <div class="card border-secondary mb-3">
            <div class="card-header">@Model.Name</div>
            <div class="card-body">
                <h4 class="card-title">@Model.Value</h4>
            </div>
        </div>
    </div>
}