@model CatalogR.Models.CustomFieldValues<int?>
@if (Model.State)
{
    <li class="list-group-item d-flex justify-content-between align-items-center">
        @Model.Name
        <span class="badge bg-primary rounded-pill">@Model.Value</span>
    </li>
}