@using CatalogR.Models
@using CatalogR.Services;
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@inject RazorLocalizerService Localizer
@implements IAsyncDisposable

<div class="d-flex gap-3 align-items-center">
    <div class="d-flex align-items-center">
        <h3>@Localizer.GetString("Likes")</h3>
        <span class="h3"> : @LikesCount</span>
    </div>
    @if (Auth)
    {
        <a href="javascript:;" @onclick="Like">
            @if (Liked)
            {
                <i class="bi bi-heart-fill h4"></i>
            }
            else
            {
                <i class="bi bi-heart h4"></i>
            }
        </a>
    }
</div>

@code {
    [Parameter]
    public string UserId { get; set; } = string.Empty;

    [Parameter]
    public int ItemId { get; set; }

    [Parameter]
    public int LikesCount { get; set; }

    [Parameter]
    public bool Auth { get; set; }

    [Parameter]
    public bool Liked { get; set; }

    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/likeshub"))
            .Build();

        hubConnection.On("Liked", () =>
        {
            ++LikesCount;
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On("Disliked", () =>
        {
            --LikesCount;
            InvokeAsync(StateHasChanged);
        });

        await HubInitialize();
    }

    private async Task HubInitialize()
    {
        if (hubConnection == null) return;

        await OnHubStart();
        hubConnection.Closed += async (exception) =>
        {
            if (exception == null) await OnHubStart();
        };
    }

    private async Task OnHubStart()
    {
        if (hubConnection == null) return;

        await hubConnection.StartAsync();
        await hubConnection.SendAsync("AddToGroup", ItemId);
    }

    private async Task Like()
    {
        if (hubConnection is not null)
        {
            Liked = !Liked;
            if (!Liked)
            {
                await hubConnection.SendAsync("DislikeItem", UserId, ItemId);
                --LikesCount;
            }
            else
            {
                await hubConnection.SendAsync("LikeItem", UserId, ItemId);
                ++LikesCount;
            }
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
