@model CollectionListModel
@{
    ViewData["Title"] = "Index";
    var check = ViewData["OwnsCollection"] as bool?;
    var owns = check != null ? check.Value : false;
}

<div class="d-flex justify-content-between align-items-center mb-2">
    <h1>@Model.Collection.Name</h1>
    <div class="align-self-end">
        <a asp-action="Create" asp-route-collectionId="@Model.collectionId" class="btn btn-primary">Create New</a>
    </div>
</div>
@(await Html.RenderComponentAsync<CatalogR.Views.Components.CollectionItems>(RenderMode.ServerPrerendered, new { Items = Model.Items, Collection = Model.Collection, Owns = owns }))

@section Scripts{
    <script src="~/lib/syncfusion/blazor/dist/js/syncfusion-blazor.min.js"></script>
}