@model CollectionListModel
@{
    ViewData["Title"] = "Index";
}

@section Head{
    <script src="~/lib/syncfusion/blazor/dist/js/syncfusion-blazor.min.js"></script>
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-collectionId="@Model.collectionId">Create New</a>
</p>
@(await Html.RenderComponentAsync<CatalogR.Views.Components.CollectionItems>(RenderMode.ServerPrerendered, new { Items = Model.Items, Collection = Model.Collection}))
