@model MainPageModel
@{
    ViewData["Title"] = "Home Page";
}

@section Head{
    <script src="~/lib/syncfusion/blazor/dist/js/syncfusion-blazor.min.js"></script>
    <style>
        .db-carousel .e-carousel-indicators.e-default .e-indicator-bar .e-indicator div {
            background-color: #e7e7e7;
        }
    </style>
}

@(await Html.RenderComponentAsync<CatalogR.Views.Components.Home.BiggestCollections>(RenderMode.Server, new { Model.Collections }))

<div class="row g-5 mt-2">
    <div class="col-md-9 d-flex flex-column gap-3">
        @foreach (var item in Model.Items)
        {
            <partial name="Home/_ItemCardPartial" model="item" />
        }
    </div>
    <div class="col-md-3">
        <div class="card mb-3 border-info">
            <div class="card-header">@Localizer["Tag Cloud"]</div>
            <div class="p-3">
                @{
                    ViewData["TagClassList"] = "me-2 mb-2";
                }
                @foreach (var tag in Model.Tags)
                {
                    <partial name="_TagLinkPartial" model="tag" view-data="ViewData" />
                }
            </div>
        </div>
    </div>
</div>