html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@media (max-width: 575px) {
    .nav-item.dropdown {
        display: none;
    }
}

.scrollable-div::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

.scrollable-div::-webkit-scrollbar-track {
    background-color: unset;
}

.scrollable-div::-webkit-scrollbar-thumb {
    background: rgba(68, 68, 68, 0.3);
    border-radius: 5px;
}

.flag-width{
    width: 20px;
    height: 20px;
}