@model IEnumerable<CatalogR.Models.Collection>
@{
    ViewData["Title"] = "Index";
    ViewData["OwnsCollection"] = true;
}

<h1>Your Collections</h1>

<p><a asp-action="Create" class="btn btn-primary">Create New</a></p>
<partial name="Collections/_ListPartial" model="Model" view-data="ViewData" />