@model ItemModel
@{
    var item = Model.Item;
    var collection = item.Collection;
}
@if (collection != null && (collection.CustomDate1_State || collection.CustomDate2_State || collection.CustomDate3_State))
{
    <div class="row">
        @if (collection.CustomDate1_State)
        {
            <div class="col-md-4">
                <label class="control-label">@collection.CustomDate1_Name</label>
                <ejs-datepicker id="format" ejs-for="Item.CustomDate1" enableMask="true" format="M/d/yyyy" cssClass="e-bigger"></ejs-datepicker>
                <span asp-validation-for="Item.CustomDate1" class="text-danger"></span>
            </div>

        }

        @if (collection.CustomDate2_State)
        {
            <div class="col-md-4">
                <label class="control-label">@collection.CustomDate2_Name</label>
                <ejs-datepicker id="format2" ejs-for="Item.CustomDate2" enableMask="true" format="M/d/yyyy" cssClass="e-bigger"></ejs-datepicker>
                <span asp-validation-for="Item.CustomDate2" class="text-danger"></span>
            </div>

        }

        @if (collection.CustomDate3_State)
        {
            <div class="col-md-4">
                <label class="control-label">@collection.CustomDate3_Name</label>
                <ejs-datepicker id="format3" ejs-for="Item.CustomDate3" enableMask="true" format="M/d/yyyy" cssClass="e-bigger"></ejs-datepicker>
                <span asp-validation-for="Item.CustomDate3" class="text-danger"></span>
            </div>
        }
    </div>
}
