@model ItemModel
@{
    var item = Model.Item;
}
@if (item.Collection != null)
{
    @if (item.Collection.CustomInt1_State)
    {
        <div class="form-group">
            <label class="control-label">@item.Collection.CustomInt1_Name</label>
            <input type="number" class="form-control" asp-for="Item.CustomInt1" />
            <span asp-validation-for="Item.CustomInt1" class="text-danger"></span>
        </div>
    }

    @if (item.Collection.CustomInt2_State)
    {
        <div class="form-group">
            <label class="control-label">@item.Collection.CustomInt2_Name</label>
            <input type="number" class="form-control" asp-for="Item.CustomInt2" />
            <span asp-validation-for="Item.CustomInt2" class="text-danger"></span>
        </div>
    }

    @if (item.Collection.CustomInt3_State)
    {
        <div class="form-group">
            <label class="control-label">@item.Collection.CustomInt3_Name</label>
            <input type="number" class="form-control" asp-for="Item.CustomInt3" />
            <span asp-validation-for="Item.CustomInt3" class="text-danger"></span>
        </div>
    }
}
